---
- name: create vlan with parents and loops
  hosts: cisco_switches
  gather_facts: no

  vars:
    vlans:
      - { id: 30, name: A1 }
      - { id: 40, name: B2 }
      - { id: 50, name: C3 }

  tasks:
    - name: create vlan and name
      cisco.ios.ios_config:
        parents: "vlan {{ item.id }}"
        lines:
          - "name {{ item.name }}"
      loop: "{{ vlans }}"
